import("rJava")
importFrom("graphics", plot, points, pairs, boxplot)
importFrom("stats", density)
importFrom("raster", predict)
exportClasses(DistModel, Bioclim, Domain, MaxEnt, ConvexHull)
exportMethods("predict")
exportPattern("^[^\\.]")
